/* soft reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body {
    background-image: url(file:///C:/Users/Monteiro/Downloads/noirlaci.gif);
    background-attachment: fixed;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    
  }
  
  @media (min-width: 300px) {
    body {
      font-size: 14px;
    }
  }
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  .menu {
    background-color: #000000;
    position: fixed;
    width: 125vw;
    top: 0;
  }
  

  .menu ul {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 20px;
  }
  
  @media (min-width: 300px) {
    .menu ul {
      font-size: 15px;
    }
  }

  @media (min-width: 400px) {
    .menu ul {
      font-size: 18px;
    }
  }

  @media (min-width: 600px) {
    .menu ul {
      font-size: 20px;
    }
  }

  .menu li {
    list-style: none;
    padding: 2px;
  }
  
  .menu a {
padding: 8px;
display: block;
  }

  a {
    text-decoration: none;
    color:  #05141b;
    border: 4em;
  }
  
  a:hover {
    font-weight: 700px;
    color: #f380bf;
  }
  
  .site-subtitle2,
  .site-subtitle,
  .site-title {
    text-align: center;
    color: #ffffff;
    }

  .site-title {
    font-size: 50px;
    align-items: center;
    margin-top: 100px;
  }
     
  .site-subtitle {
    font-style: italic;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
  }
  
  .site-subtitle2 {
    font-size: 16px;
    margin-top: 230px;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  
  .text {
    background-color: #ffffff;
    padding: 25px;
    margin: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 32px;
    font-family: 'Inconsolata', monospace;
    align-items: center;
    color: #05141b;
  }

  
  @media (min-width: 300px) {
    .text {
     font-size: 18px;
    }
  }

  @media (min-width: 400px) {
    .text {
     font-size: 18px;
    }
  }

  @media (min-width: 600px) {
    .text {
      font-size: 18px;
    }
  }

  .icon {
    position: absolute;
    right: 0;
    bottom:;
    left: 0;
    margin: auto;
    }

    @media (min-width: 300px) {
      .icon {
        top: 285px;
      }
    }

    @media (min-width: 400px) {
      .icon {
        top: 285px;
      }
    }

    @media (min-width: 600px) {
      .icon {
        top: 225px;
      }
    }

.portfolio {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin-bottom:45px;
  font-size: 2em;
  margin-top: 380px;
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width:240px;
  display: grid;
  gap: 2em;
}

.contato {
  display: grid;
  background-color: #ffffff;
  padding: 25px;
  margin: 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 32px;
  gap: 2em;
  align-content: center;
}

.grid-portfolio {
 display: grid;
 background-color: #ffffff;
 padding: 25px;
 margin: 50px;
 border-radius: 20px;
 box-shadow: 0 0 32px;
 gap: 2em;
 align-content: center;
}

@media (min-width: 360px) {
 .grid-portfolio {
  grid-template-columns: 240px;
  justify-content: center;
 }
}

@media (min-width: 600px) {
  .grid-portfolio {
   grid-template-columns: 240px 240px;
   justify-content: center;
  }
 }

 @media (min-width: 800px) {
  .grid-portfolio {
   grid-template-columns: 240px 240px 240px;
   justify-content: center;
  }
 }

 @media (min-width: 1000px) {
  .grid-portfolio {
   grid-template-columns: 240px 240px 240px 240px;
   justify-content: center;
 }

 .portfolio figure {
  text-align: center;
 }

.cont {
  justify-content: center;
  align-content: center;
  font-size: 1em;
  margin-left: 10px;
  height: 50vh;
  text-align: center;
  margin-top: 50px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

  


